body{

font-family:Arial;
background:#f4f6f9;
margin:0;
text-align:center;

}

header{

background:#2c3e50;
color:white;
padding:20px;

}

.logo{

width:60px;
margin-bottom:10px;

}

.container{

padding:30px;

}

.grid{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;

}

.card{

background:white;
width:250px;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.card img{

width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;

}

.detail-card{

background:white;
width:300px;
margin:auto;
padding:25px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.detail-card img{

width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;

}

.btn{

display:inline-block;
margin-top:10px;
padding:10px 15px;
background:#3498db;
color:white;
text-decoration:none;
border-radius:5px;

}